{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/Hanin/Desktop/27 fev clone/project_healthlink/src/Controller/CalendarController.php</code></li>
        <li>Your template at <code>C:/Users/Hanin/Desktop/27 fev clone/project_healthlink/templates/calendar/index.html.twig</code></li>
    </ul>
</div>


{% endblock %}
