{% extends 'home/base.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <h1>Ajouter une Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}

 {% endblock %}
