{% extends 'home/base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 220px;margin-bottom: 500px;">
        <h1 class="mb-4 text-center ">Créer un Nouveau Don de Sang</h1>

        <div class="card shadow-sm">
            <div class="card-body">
                {{ include('blood_donation/_form.html.twig') }}
            </div>
        </div>

        <div class="mt-3">
            <a href="{{ path('app_blood_donation_index') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
{% endblock %}