{% extends 'home/base.html.twig' %}

{% block title %}New Donation Response{% endblock %}

{% block body %}
<div class="container" style="margin-top: 220px;margin-bottom: 500px;">

        <h1 class="text-center mb-4">Créer une nouvelle réponse</h1>

        {{ include('donation_response/_form.html.twig') }}

        <div class="text-center mt-3">
            <a href="{{ path('app_donation_response_index') }}" class="btn btn-secondary">Retoure a la liste</a>
        </div>
    </div>
{% endblock %}
